# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Data
*.csv
*.zip
/data/raw/*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node (se usar)
node_modules/
package-lock.json
